.hero{
    /* background-color: green; */
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: auto;
    padding-top: 20px;
}

.hero .hero-text{
    /* background-color: red; */
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 60px;
    padding: 40px;
    padding-top: 0;
}

.hero .hero-text h1{
    font-size: 46px;
    font-family: "Montserrat", serif;
    font-weight: 600;
    margin-bottom: 24px;
}

.hero .hero-text p{
    font-size: 20px;
    margin-bottom: 24px;
    font-family: 'Roboto', sans-serif;
}

.hero .hero-text a{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    width: fit-content;
    background-color: #6C3483;
}
.hero .hero-line{
    display: none;
}
.hero .hero-text a:hover{
    background-color: #C3A6E4;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 10px #a48bc2;
    color: black;
}

.hero .hero-text span{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-bottom: 4px;
}

.hero .hero-image{
    /* background-color: blue; */
    width: 40%;
    
}

.hero .hero-image img{
    width: 100%;
    filter: drop-shadow(0 4px 10px #6C3483);
}
.hero .img-hero-movile{
    filter: drop-shadow(0 4px 10px #6C3483);
    display: none;
    width: 220px;
}

@media screen and (max-width: 1550px){
    .hero .hero-text h1{
        font-size: 36px;
    }
    .hero .hero-text p{
        font-size: 18px;
    }
}
@media screen and (max-width: 768px){
    .hero{
        padding-top: 60px; /* Ajusta según la altura del nav */
        margin-top: -60px;
    }
    .hero .hero-line{
        display: block;
        margin-bottom: 20px;
    }
    .hero .hero-line .line{
        margin: auto;
    }
    .hero .img-hero-movile{
        display: block;
        width: 90%;
        margin: auto;
    }
    .hero .hero-image{
        display: none;
    }
    .hero .hero-text{
        width: 100%;
    }
    .hero .hero-text span{
        width: 100%;
        text-align: center;
    }
    .hero .hero-text a{
        width: 100%;
        text-align: center;
    }
    .hero .hero-text h1{
        font-size: 26px;
    }
    .hero .hero-text p{
        font-size: 16px;
    }
    .hero{
        margin-top: 20px;
    }
    .hero .hero-text p{
        margin-bottom: 12px;
    }
}