.packs{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.title-services{
    width: 100%;
    text-align: center;
    padding: 50px;
}
@media screen and (max-width: 768px){
    .title-services{
        padding-top: 80px; 
        padding-bottom: 20px;
    }
}