.logo-container .logo{
    display: block;
    background-image: url("./assets/img/Logo_Web.png");
    width: 200px;
    height: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
    background-color: #F5F3EF;
    border-radius: 50px;
    /* border: 1px solid black; */
}

header.navBar{
    background-color: #F28B93;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.navBar nav.nav-web{
    width: 1300px;
    /* border:1px solid black; */
    height: 100%;
}

.navBar nav.nav-web ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    /* background-color: green; */
}

.navBar nav.nav-web ul li{
    list-style: none;
    font-size: 18px;
    /* background-color: white; */
}

.navBar nav.nav-web ul li .linea{
    width: 2px;
    background-color: white;
    height: 30px;
}

.navBar nav.nav-web ul li a{
    text-decoration: none;
    color: white;
    margin: 0px 10px;
    padding: 20px 50px;
    font-family: sans-serif;
}

.navBar nav.nav-web ul li a:hover{
    color: #6C3483;
    transition: all 0.2s ease-in-out;   
    /* text-decoration: underline; */
}
.nav-movile{
    display: none;
}
.nav-movile-button{
    width: 50px;
    height: 50px;
    background-color: #6C3483;
    border: none;
    border-radius: 5px;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
    display: none;
}
.nav-movile-button .nav-movile-button-line{
    width: 70%;
    height: 5px;
    /* border-radius: 20px; */
    background-color: white;
    border-radius: 3px;

}
@media screen and (max-width: 1550px){
    .navBar nav.nav-web{
        width: 70%;
    }
    .logo-container .logo{
        width: 180px;
        height: 50px;
    }
    header.navBar{
        height: 60px;
    }
    .navBar nav.nav-web ul li a{
        padding: 20px 20px;
    }
}
@media screen and (max-width: 940px){
    header.navBar nav.nav-web ul li a{
        font-size: 16px;
        font-weight: 600;
        padding: 20px 6px;
    }
}
@media screen and (max-width: 768px){
    .navBar nav.nav-web{
        display: none;
    }
    .nav-movile-button{
        display: flex;
        margin-right: 20px;
    }
    header.navBar{
        display: flex;
        justify-content: space-between;
    }
}