.logo-container .logo{
    display: block;
    background-image: url("./assets/img/Logo_Web.png");
    width: 200px;
    height: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
    background-color: #F5F3EF;
    border-radius: 50px;
    /* border: 1px solid black; */
}

header.navBar{
    background-color: #F28B93;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.navBar nav{
    width: 1300px;
    /* border:1px solid black; */
    height: 100%;
}

.navBar nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    /* background-color: green; */
}

.navBar nav ul li{
    list-style: none;
    font-size: 18px;
    /* background-color: white; */
}

.navBar nav ul li .linea{
    width: 2px;
    background-color: white;
    height: 30px;
}

.navBar nav ul li a{
    text-decoration: none;
    color: white;
    margin: 0px 10px;
    padding: 20px 50px;
    font-family: sans-serif;
}

.navBar nav ul li a:hover{
    color: #6C3483;
    transition: all 0.2s ease-in-out;   
    /* text-decoration: underline; */
}

