.testimonial{
    /* background-color: green; */
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.testimonial p{
    margin-bottom: 20px;
    /* background-color: red; */
}
.testimonial img{
    width: 70px;

    border-radius: 50%;
    /* background-color: red; */
}

.testimonial div{
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1220px){
    .testimonial{
        font-size: 16px;
    }
}
@media screen and (max-width: 425px){
    .testimonial{
        width: 100%;
        font-size: 14px;
    }
    .testimonial div{
        flex-direction: column;
    }
}