*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F5F3EF;
}
h2{
  font-size: 46px;
  font-family: "Montserrat", serif;
  font-weight: 600;
}
@media screen and (max-width: 768px){
  h2{
    font-size: 36px;
  }
}
